<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">
    <!--Ha van bean annotáció az oszályokon-->
        <context:component-scan base-package="hu.tmx.spring.spring"/>
    <!--Ha nincs annotáció az osztályok felett-->
        <bean id="jdbcConnection" class="hu.tmx.spring.spring.repository.JdbcConnection">
        </bean>
        <bean id="personDAO" class="hu.tmx.spring.spring.repository.PersonDAO">
               <property name="jdbcConnection" ref="jdbcConnection"/>
        </bean>
</beans>